<!--The content below is only a placeholder and can be replaced.-->
<div class="centered-container">
  <img [src]="headerImage" class="header-image" />
</div>
<div *ngIf="activePage === 'menu'" >
  <main-menu (onPageSelect)="activePage = $event"></main-menu>
</div>
<div *ngIf="activePage === 'game'">
  <game></game>
</div>
<div *ngIf="activePage === 'characterCreation'">
  <character-creation (onPageSelect)="activePage = $event"></character-creation>
</div>
<hr />
<footer><small>&copy; Copyright 2017, Spiral Staircase Productions</small></footer>
